.section--slider {
  position: relative;
  padding-bottom: 200px;
  min-height: 1040px;
  background-image: url(../img/newsbg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  .section--slider::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: -webkit-linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
    background-image: -o-linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
    background-image: linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
    opacity: .9; }
  .section--slider__title {
    padding-top: 185px;
    margin-bottom: 100px;
    text-align: center;
    color: white; }
  .section--slider .title-line--slider {
    position: relative; }
  .section--slider .title-line--slider::before {
    content: '';
    position: absolute;
    width: 105px;
    top: -50px;
    left: 50%;
    height: 2px;
    background-color: white;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  .section--slider .swiper2 {
    width: 100%;
    height: 515px;
    position: static; }
    .section--slider .swiper2 .swiper-button-next {
      background-image: none;
      right: -70px;
      top: 51%; }
    .section--slider .swiper2 .swiper-button-prev {
      background-image: none;
      left: -85px;
      top: 51%; }
    .section--slider .swiper2 .swiper-container-horizontal > .swiper-pagination-bullets,
    .section--slider .swiper2 .swiper-pagination-custom {
      bottom: -77px; }
    .section--slider .swiper2 .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 20px;
      width: 10px;
      height: 10px;
      border: 2px solid;
      border-color: white; }
    .section--slider .swiper2 .swiper-pagination-bullet {
      background: none; }
    .section--slider .swiper2 .swiper-pagination-bullet-active {
      background: white; }
    .section--slider .swiper2 .btn__next,
    .section--slider .swiper2 .btn__prev {
      fill: white;
      width: 40px;
      height: 40px; }
    .section--slider .swiper2 .btn__next {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .section--slider .news-panel__title {
    letter-spacing: 0.03em;
    color: #2c4058;
    font-family: gotham_mediumregular;
    font-size: 21px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase; }
  .section--slider .news-panel__info {
    color: #4b5562;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
  .section--slider .author__name {
    color: #2c4058;
    font-family: gotham_mediumregular;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase; }
  .section--slider .date {
    color: #55b7ff;
    font-family: gotham_mediumregular;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }
  .section--slider .news-panel__header {
    padding: 21px; }
  .section--slider .author {
    padding: 20px; }
  .section--slider .author__info {
    margin-left: 20px; }
