.container#contact
    .contact__form--box
            .contact__title.title
                h4.title-line--contact GET IN TOUCH
            .contact__main-form
                .row
                    .contacts.col-6
                        .location
                            i.fas.fa-map-marker-alt
                            |91 Nolan Extensions Suite 670
                        .number
                            a(class="fone" href="")
                                i.fas.fa-phone-alt
                                |+001 356-868-2454
                        .mail
                             a(class="mail" href="")
                                i.fas.fa-inbox
                                |gahuy93@gmail.com
                        .time
                            i.far.fa-clock
                            |From 07:05AM to 19:30PM
                    //- .submit
                    .contact-form.col-6
                        form(action="#" method="get").form
                            input(type="text" placeholder="Name" required).input                            
                            input(type="email" placeholder="Email" required).email
                            .form-btn
                                button(type="submit").submit-btn submit