section.section--gallery
    .container
        .section--gallery__title.title
            h4.title-line--gallery gallery
        .row
            .col-6
                img(src="img/gallery-1.png", alt="").gallery-img1
            .col-6
                .row.row--gallery
                    .col-6
                        //- .gallery-img
                        img(src="img/gallery-2.png", alt="").gallery-img2
                    .col-6
                        //- .gallery-img
                        img(src="img/gallery-3.png", alt="").gallery-img3
                .row.row--gallery
                    .col-6
                        //- .gallery-img
                        img(src="img/gallery-4.png", alt="").gallery-img4
                    .col-6
                        //- .gallery-img
                        img(src="img/gallery-5.png", alt="").gallery-img5
        .gallery-button
            a(href="#").btn.btn--gallery see more