section.section--main#projects
    .container
        .section--main__title.title
            h4.title-line what we do
        .row
            .col-7.section--main__img
                .img-1
                    img(src="img/boll.png", alt="")
            .col-5.section--main__info.info
                .info__subtitle 
                    h4 One World
                .info__title 
                    h4 Trade Center
                .info__text Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                a(href="#").btn more details
                .section--main__preview.d-flex.align-items-center
                    svg.map-point
                        use(xlink:href="#map-point")
                    .text-1 New York City, United States - 1776 feet
        .row.row-2
            .col-5.section--main__info.info
                .info__subtitle 
                    h4 International
                .info__title 
                    h4 Commerce Centre
                .info__text Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
                a(href="#").btn more details
                .section--main__preview.d-flex.align-items-center
                    svg.map-point
                        use(xlink:href="#map-point")
                    .text-2 Hong Kong - 1588 Feet
            .col-7.section--main__img
                .img-2
                    img(src="img/building.png", alt="")
