include ../include/header-title
<!-- Swiper -->
.swiper-container.swiper1
    .swiper-wrapper
        .swiper-slide.slide--1
                +header-title
        .swiper-slide.slide--2
                +header-title
        .swiper-slide.slide--3
                +header-title
        .swiper-slide.slide--4
                +header-title
        .swiper-slide.slide--5
                +header-title
    .swiper-pagination.swiper-pagination1
